/* red-hat-text-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/red-hat-text-v19-latin-regular.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* red-hat-text-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 600;
  src: url("./assets/fonts/red-hat-text-v19-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* red-hat-text-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Red Hat Text";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/red-hat-text-v19-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  --red: hsl(14, 86%, 42%);
  --green: hsl(159, 69%, 38%);
  --rose10: hsl(20, 50%, 98%);
  --rose100: hsl(13, 31%, 94%);
  --rose300: hsl(14, 25%, 72%);
  --rose400: hsl(7, 20%, 60%);
  --rose500: hsl(12, 20%, 44%);
  --rose900: hsl(14, 65%, 9%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Red Hat Text", sans-serif;
}
body {
  background: var(--rose100);
  padding: 1.5rem;
  max-width: 93vw;
  margin: auto;
}
h1 {
  margin-block: 0;
  color: var(--rose900);
}
main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 400px;
  margin: auto;
}
@media (min-width: 700px) {
  main {
    max-width: 80%;
  }
}
@media (min-width: 1440px) {
  main {
    max-width: 1290px;
    align-items: flex-start;
    flex-direction: row;
  }
}
#product-cards {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
@media (min-width: 700px) {
  #product-cards {
    flex-direction: row;
    gap: 2rem;
    flex-wrap: wrap;
    align-items: flex-start;
  }
}
@media (min-width: 1440px) {
  #product-cards {
    width: 70%;
  }
}
.product-card {
  width: 100%;
  margin: 0.5rem 0;
  display: flex;
  flex-direction: column;
}
@media (min-width: 700px) {
  .product-card {
    width: 45%;
  }
}
@media (min-width: 1240px) {
  .product-card {
    width: 30%;
  }
}
.image {
  background-image: url(./assets/images/image-baklava-mobile.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  border-radius: 8px;
  height: 200px;
}
.product-card button {
  background: var(--rose10);
  border: 1px solid var(--rose400);
  border-radius: 20px;
  padding: 8px 25px;
  display: flex;
  align-items: center;
  color: var(--rose900);
  font-weight: 600;
  cursor: pointer;
  align-self: center;
  max-width: 100%;
  margin-top: -20px;
}
.product-card button img {
  width: 21px;
  height: 20px;
  margin-right: 5px;
}
.category {
  color: var(--rose400);
  font-weight: 500;
  font-size: 0.8rem;
}
.name {
  margin-block: 0;
  color: var(--rose500);
  font-size: 1rem;
}
.price {
  color: var(--red);
  font-weight: 600;
  font-size: 0.9rem;
}
#cart {
  background: var(--rose10);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.5rem;
  border-radius: 8px;
}
@media (min-width: 700px) {
  #cart {
    width: 350px;
  }
}
@media (min-width: 1440px) {
  #cart {
    width: 30%;
    margin-top: 24px;
  }
}
#cart h2 {
  margin-block: 0;
  color: var(--red);
  font-weight: 700;
  align-self: flex-start;
  font-size: 1.2rem;
}
.show{
  display:flex;
}
.hidden {
  display: none;
}
/*-------selected-cart----------*/
#empty-card {
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}
#empty-card p {
  color: var(--rose400);
  font-weight: 600;
  font-size: 0.7rem;
}
/*-------selected-cart----------*/
#selected-cart{
  flex-direction: column;
  align-self: flex-start;
  margin-top: 1rem;
  width: 100%;
}
.list-product{
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid var(--rose300);
  padding: 1rem 0;
}
.list-product-text{
  width: 70%;
}
.list-product-text h3 {
  color: var(--rose900);
  font-size: 1rem;
  font-weight: 600;
  margin-block: .25rem;
}
.product-prices{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.product-amount{
  font-size: 1rem;
  color: var(--red);
  font-weight: 600;
  margin-right: 16px;
}
.one-price{
  color: var(--rose300);
  margin-right: .5rem;
}
.total-price{
  color: var(--rose500);
  font-weight: 600;
}
.remove-item{
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 1px solid var(--rose400);
  padding: 0.3rem;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

#sum-section div:first-child {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
#sum-section div h4 {
  font-weight: 500;
  color: var(--rose500);
  font-size: 1rem;
  margin-block: 1.5rem;
}
#total-sum{
  color: var(--rose900);
  font-weight: 700;
  font-size: 1.5rem;
  margin-block: 1.5rem;
}
#carbon-neutral {
  background: var(--rose100);
  border-radius: 8px;
  padding: 10px;
  margin-bottom: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
#carbon-neutral p {
  color: var(--rose900);
  font-size: .85rem;
}
#sum-section button {
  width: 100%;
  background: var(--red);
  color: var(--rose10);
  border-radius: 20px;
  border: none;
  padding: 10px;
  font-weight: 500;
  cursor: pointer;
}